* {
	box-sizing: border-box;
}
body {
	font-family: "Playfair Display", serif;
}
header,
main,
nav,
footer {
	max-width: 1200px;
	height: 100%;
	margin: 0 auto;
}
p {
	/* Style for "Paragraph" */
	height: 63px;
	overflow-y: scroll;
	color: #626262;
	font-size: 14px;
	letter-spacing: normal;
	line-height: 24px;
	text-align: left;
	/* Text style for "Lorem ipsu" */
	letter-spacing: normal;
	line-height: normal;
}

h2 {
	color: #626262;
	font-size: 30px;
	font-weight: 400;
	letter-spacing: normal;
	line-height: normal;
	text-align: left;
}
/* Style for "header" */

.header_inner {
	width: 100%;
	margin: 0 70px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	display: block;
}

.nav {
	align-items: center;
	justify-self: flex-end;
}

.nav a {
	text-decoration: none;
}
.nav li {
	display: inline;
	padding: 70px;
	text-transform: uppercase;
	color: #626262;
}
/* Style for "main" */

.first-post {
	margin: 70px;
}

.first-post img {
	/* Style for "image" */
	width: 100%;
	height: 509px;
}

.first_paragraph {
	height: auto;
	overflow: auto;
}
.span {
	font-family: "Ubuntu", sans-serif;
	color: #b4ad9e;
	font-size: 14px;
	letter-spacing: normal;
	line-height: normal;
	text-align: left;
	text-transform: uppercase;
}
.blog {
	margin: 135px 150px;
}
.form {
	background-color: #f0f0f0;
}
#signup {
	background-color: #f0f0f0;
	width: 374px; /* Ширина поля с кнопкой */
	border-bottom: 3px solid #000; /* Параметры рамки */
	min-height: 20px; /* Минимальная высота */
}
.form_header {
	color: #333333;
	font-size: 30px;
	letter-spacing: 0.75px;
	line-height: normal;
	text-align: center;
}
.mail {
	outline: none; /* Убираем свечение в Chrome и Safari */
	-webkit-appearance: none; /* Убираем рамку в Chrome и Safari */
	width: 300px; /* Ширина поля */
	vertical-align: middle; /* Выравнивание по середине */
	border: none;
	background-color: #f0f0f0;
	/* Style for "Enter a va" */
	color: #626262;
	font-size: 14px;
	letter-spacing: 0.75px;
	line-height: 24px;
}

.submit {
	width: 20px; /* Ширина кнопки */
	height: 20px; /* Высота кнопки */
	border: none; /* Убираем рамку */
}

.first-row {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.second-row {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 135px;
	justify-content: space-between;
}

.third-row {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 135px;
	justify-content: space-between;
}

/* Style for "footer" */

.contacts {
	text-align: center;
	padding: 15px;
	background-color: #f0f0f0;
}
.contact_link {
	/* Style for "Terms and" */
	width: 136px;
	height: 12px;
	padding: 8px;
	color: #000000;
	font-size: 14px;
	letter-spacing: normal;
	line-height: 24px;
	text-align: left;
}
.contact_text {
	margin-left: 640px;
	width: 42px;
	height: 12px;
	color: #000000;
	font-size: 14px;
	letter-spacing: normal;
	line-height: 24px;
	text-align: left;
}

.fab {
	margin-left: 7px;
}
